* {
  margin: 0;
  padding: 0;
}

body {
  width: 1020px;
}

.contact-form {
  height: 648px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: #f06c64;
}

.contact-form>h1 {
  padding-top: 69px;
  font-family: "Lato";
  font-weight: 900;
  font-size: 30px;
  line-height: 18px;
  color: #f0d8d9;
}

.contact-form>p {
  margin-top: 27px;
  font-family: "Lato";
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  color: #f0d8d9;
}

.form-wrapper {
  display: flex;
  margin-top: 43px;
  justify-content: space-between;
}

form {
  width: 620px;
}

input[type="text"], input[type="email"] {
  display: block;
  width: 590px;
  height: 8px;
  padding: 14px;
  margin-bottom: 16px;

  font-family: "Lato";
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  color: #f0d8d9;

  border: 1px solid #d6564f;
  border-radius: 5px;
  background-color: #d6564f;
}

textarea {
  display: block;
  width: 592px;
  height: 183px;
  padding: 7px 14px 12px 14px;
  margin-bottom: 16px;

  font-family: "Lato";
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  color: #f0d8d9;

  border: 0;
  border-radius: 5px;
  background-color: #d6564f;
  resize: none;
}

input::placeholder, textarea::placeholder {
  font-family: "Lato";
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  color: #f48c8f;
}

input:invalid {
  border: 1px solid #f0d8d9;
}

button {
  display:block;
  height: 32px;
  margin-left: auto;
  padding-left: 14px;
  padding-right: 14px;

  font-family: "Lato";
  font-weight: 700;
  font-size: 12px;
  color: #f0d8d9;

  border: 1px solid #f0d8d9;
  border-radius: 5px;
  background-color: #d6564f;
  cursor: pointer;
}

.contact-information {
  width: 300px;
}

.contact-information>h2 {
  padding-top: 1px;
  font-family: "Lato";
  font-weight: 900;
  font-size: 18px;
  line-height: 18px;
  color: #f0d8d9;
}

.contact-information>p {
  margin-top: 9px;
  font-family: "Lato";
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  color: #f0d8d9;
}

.contact-links {
  margin-top: 19px;
}

.contact-links>a {
  display: inline-flex;
  font-family: "Lato";
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  color: #f0d8d9;
  text-decoration: none;
}

.contact-links div {
  margin-right: 10px;
  width: 13px;
  height: 13px;
}

.address>div {
  margin-top: 5px;
  background-image: url("assets/location-icon.png");
}

.phone>div {
  margin-top: 4px;
  background-image: url("assets/phone-icon.png");
}

.email>div {
  margin-top: 6px;
  background-image: url("assets/mail-icon.png");
}

.contact-bottom {
  height: 6px;
  background-color: #ea676b;
}

footer {
  display: flex;
  height: 76px;
  padding-left: 40px;
  padding-right: 32px;
  background-color: #2d303a;
  justify-content: space-between;
}

.copyright {
  padding-top: 32px;
  font-family: "Lato";
  font-weight: 400;
  font-size: 10px;
  color: #666d89;
}

.footer-social-buttons {
  display: flex;
  padding-top: 22px;
}

.social-icon {
  width: 32px;
  height: 32px;
  margin-right: 8px;
}

.facebook {
  background-image: url("assets/social-icons/facebook.png");
}
.facebook:hover {
  background-image: url("assets/social-icons/facebook-light.png");
}

.googleplus {
  background-image: url("assets/social-icons/googleplus.png");
}
.googleplus:hover {
  background-image: url("assets/social-icons/googleplus-light.png");
}

.twitter {
  background-image: url("assets/social-icons/twitter.png");
}
.twitter:hover {
  background-image: url("assets/social-icons/twitter-light.png");
}

.linkedin {
  background-image: url("assets/social-icons/linkedin.png");
}
.linkedin:hover {
  background-image: url("assets/social-icons/linkedin-light.png");
}
