/*Light 300*/
@font-face {
  font-family: "Lato";
  font-weight: 300;
  font-style: normal;
  src: url("Lato-Light.woff2") format("woff2"),
       url("Lato-Light.woff") format("woff");
}

/*Regular 400*/
@font-face {
  font-family: "Lato";
  font-weight: 400;
  font-style: normal;
  src: url("Lato-Regular.woff2") format("woff2"),
       url("Lato-Regular.woff") format("woff");
}

/*Bold 700*/
@font-face {
  font-family: "Lato";
  font-weight: 700;
  font-style: normal;
  src: url("Lato-Bold.woff2") format("woff2"),
       url("Lato-Bold.woff") format("woff");
}

/*Black 900*/
@font-face {
    font-family: "Lato";
    font-weight: 900;
    font-style: normal;
    src: url("Lato-Black.woff2") format("woff2"),
         url("Lato-Black.woff") format("woff");
}
